<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include("../partials/navigation") %>
    <main>
        <form class="product-form" action="/auth/reset-password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Please enter email">
            </div>
            <button type="submit">Reset password</button>
        </form>
    </main>
</body>

</html>