<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/navigation.ejs") %>
    <div style="text-align: center;">
        <h1>Oops, something went wrong :(</h1>
        <p><%= message %></p>
    </div>
</body>
</html>