<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %> 
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include("../partials/navigation") %> 
    <main class="centered">
        <h1>Operation has been cancelled :(</h1>
        <a href="/cart">Back to the cart</a>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>