<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head") %> 
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include("../../partials/navigation") %> 
    <main class="centered">
        <h1>Successful operation !</h1>
        <a href="/">Back to the shop</a>
    </main>
    <%- include("../../partials/footer") %> 
</body>
</html>